<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2"> <!-- si tu veux ajouter du CSS -->
    <title>Gallerie</title>
</head>
<body>
    <header>
        <nav>
            <div class="profile">
                <h1>Website</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Gallerie</a></li>
            </ul>
        </nav>
    </header>



    <h1>notre gallerie d'images</h1>
    <div class="flex center">
        <img src="https://placehold.co/200" alt="Image 1" class="card">
        <img src="https://placehold.co/200" alt="Image 2" class="card">
        <img src="https://placehold.co/200" alt="Image 3" class="card">
        <img src="https://placehold.co/200" alt="Image 4" class="card">
        <img src="https://placehold.co/200" alt="Image 5" class="card">
        <img src="https://placehold.co/200" alt="Image 6" class="card">
    </div>
</body>
</html>
